/* 
.container {
  padding: 20px;
} */

@media (max-width: 768px) {
  .quiz-card {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 1rem;
  }
  .quiz-container {
    padding: 1rem;
    flex-direction: column;
  }
  .quiz-imag {
    justify-content: center;
    max-width: 150px;
  }
  .quiz-button {
    width: 100%;
    max-width: 100%;
    font-size: 14px;
    margin: 0 auto 0.5rem auto; /* Centrado en móviles */
    display: block;
  }
  .quiz-input {
    width: 100%;
    margin: 0 auto 1rem auto; /* Centrado y con margen inferior */
    display: block;
  }
}

body {
  background-color: #f9fafb; /* gray-50 */
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

.quiz-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #f9fafb;
}

.quiz-card {
  background-color: #4b0082;
  border: 1px solid #e9d5ff; /* purple-200 */
  border-radius: 1rem;
  /* max-width: 15rem; */
  /* height: 25rem; */
  width: 100%;
  padding: 1.5rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  color: white;
  overflow: auto;
  position: relative;
  max-width: 100%;
  height: auto;
  min-width: 300px;
}

.quiz-imag {
  background-color: transparent;
  max-width: 200%;
  /* height: 10rem; */
  border-radius: 5px;
  justify-content: flex-start;
  align-items: center;
  font-size: 13px;
  width: 100%;
  height: auto;
  display: flex;
  grid: left;
  padding: 0px 0px 8px 8px;
  margin-bottom: 1rem;
}

.quiz-img {
  width: 170px;
  display: block;
  margin-bottom: 1rem;
  margin: auto;
  border-radius: 100px;
}

.quiz-section {
  color: #a57bcb; /* purple-700 */
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  letter-spacing: 0.05em;
}

.quiz-question {
  font-size: 1rem;
  font-weight: 500;
  color: white; /* gray-800 */
  margin-bottom: 1.5rem;
}

.quiz-button {
  display: block;
  text-align: center;
  padding: 0.5rem 1rem;
  border: 1px solid #9333ea; /* purple-600 */
  color: white;
 border-radius: 0.5rem;
  background-color: #6b21a8;
  margin-bottom: 0.5rem;
  transition: all 0.2s ease;
  cursor: pointer;
  margin: 0.5rem auto;
  width: 100%;
  max-width: 250px; 
}

.quiz-button:hover {
  background-color: #4b0082;
  color: white;
}

.quiz-input {
  width: 90%;
  padding: 0.5rem;
  border: 1px solid #c4b5fd; /* purple-300 */
  border-radius: 0.375rem;
  margin: 0.5rem auto;
}

.quiz-result {
  text-align: center;
  padding: 1rem;
}

.quiz-result-title {
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.quiz-result-score {
  font-size: 2.25rem;
  /* color: #6b21a8;  */
  color: white;
  font-weight: 800;
  margin-bottom: 0.5rem;
}

.quiz-result-text {
  color: white; /* gray-600 */
}

.link-button {
  background: none;
  border: none;
  color: white;
  text-decoration: underline;
  cursor: pointer;
}
